/*.ledership-section{
    display:flex;
    flex-wrap: wrap;
}*/

.leadership-container {
  display: flex;
  flex-wrap: wrap;
  width: 32%;
  height: auto;
  margin:2rem auto;
  justify-content: space-between;
  background-color:var(--primary-color);
  box-shadow: 1rem 1rem 5rem;
  padding: 3rem;
  
}

.leaders-title-heading {
  text-align: center;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  color: black;
  letter-spacing: 2px;
  font-weight: 800;
  font-size: 2rem;
}

.leadership-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.leaders-image {
  width: 20rem;
  border-radius: 50rem;
  padding-top: 1rem;
}

.leaders-name {
  font-size: 3rem;
  text-transform: capitalize;
  color: black;
  font-weight: 600;
}

.text-card-container {
  display: flex;
  flex-direction: column;
}

.leaders-title {
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 2rem;
  font-size:2.5rem;
}

.leaders-text-card {
  text-align: justify;
  padding: 0.9rem 1rem;
  line-height: 1.2;
}

/*------------------------icons section--------------------------*/

.social-links{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

.leaders-icons{
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.icon-item{
    font-size:2.3rem;
    color: var(--secondary-color);
}
.icon-item:hover{
    color: var(--btn-color);
    transition: all .4s;
}

.icons-detail{
    padding-bottom: 2rem;
    font-size:1.1rem;
    font-weight:bold;
}
