.leadership-containers{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}
.leadership-container {
  display: flex;
  flex-wrap: wrap;
  width: 35rem;
  background-color: var(--primary-color);
  box-shadow: 0 0 5rem;
  padding: 1rem;
  margin: 1.5rem auto;
}
@media screen and(max-width:54.33rem) {
  .leadership-container {
    width: 100%;
    margin: 0;
  }

  .leadership-card-container {
    width: 100%;
    margin: 0;
  }
}

.leaders-title-heading {
  text-align: center;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  color: var(--secondary-text-color);
  letter-spacing: 2px;
  font-weight: 800;
  font-size: 2.5rem;
}

.leadership-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.leaders-image {
  width: 20rem;
  border-radius: 50rem;
  padding-top: 1rem;
}

.leaders-name {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: var(--text-color);
  font-weight: 600;
}

.text-card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.leaders-title {
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 2rem;
  font-size: 2rem;
}

.leaders-text-card {
  text-align: justify;
  padding: 0.9rem 1rem;
  line-height: 1.2;
}
@media screen and(max-width:34.69rem){
  .leaders-text-card {
    text-align: justify;
    padding: 0.5rem 0.7rem;
    line-height: 1;
}

.leaders-name {
  font-size: 1.5rem;
  font-weight: 400;
}

.leaders-title {
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 2rem;
  font-size: 1.4rem;
}
}
/*------------------------icons section--------------------------*/

.social-links {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}

.leaders-icons {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.icon-item {
  font-size: 2.3rem;
  color: var(--background-color);
}
.icon-item:hover {
  color: var(--btn-color);
  transition: all 0.4s;
}

.icons-detail {
  padding-bottom: 2rem;
  font-size: 1.1rem;
  font-weight: bold;
}
