.about-section{
    width: 100%;
    background-color: var(--primary-color);
    padding-top:  2rem;
    padding-bottom: 2rem;
}

.about-section-content{
    display: flex;
    gap: 4rem;
}
@media  screen and (max-width:65.75rem) {
   .about-section-content{
    width: 100%;
    display: flex;
    
    gap: 2rem;
    flex-direction: column;
   } 

}

.about-content{
    /*width: 48%;*/
    height: max-content;
}

.about-images-section{
   /* width: 55%;*/
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-right: 4rem;
}

.about-images-section img{
    width: 60rem;
    height: auto;
    border-radius: 1rem;
    box-shadow: 4rem 4rem 26rem var(--secondary-color);
}

@media  screen and (max-width:65.75rem){
    .about-images-section{
        /* width: 55%;*/
        /* padding-top: 4rem;
         padding-bottom: 4rem;
         margin-left: 10rem;
         width: auto;*/
         width: 100%;
         display: flex;
         align-items: center;
         justify-content: center;
     }

       .about-images-section img{
        height: auto;
        align-items: center;
        justify-content: center;
        width: 90%;
    
    }
}

@media  screen and (max-width:32rem){
    .about-images-section img{
        width: 70%;
    }

}

.about-title{
    text-align: center;
    padding-bottom: 2rem;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    font-size:2.6rem;
    font-weight:700;
    color: var(--secondary-text-color);
}

.about-content-title{
    text-align: center;
    text-transform: capitalize;
    font-size: 1.8rem;
}
.about-content-area{
    margin-left: 1rem;
    padding-top: 1.5rem;
    line-height: 2;
    text-align: center;
    font-size:1.6rem;
    padding-bottom: 2rem;
}

@media  screen and (max-width:65.75rem){
    .about-content-title{
        text-align: center;
        justify-content: center;
        padding-top: 1.8rem;
        padding-bottom: 1.5rem;
    }
    .about-content-area{
        text-align: center;
        align-items: center;
        line-height: 2.5;
        padding-top: 2rem;
        padding-bottom: 2rem
    }
}

.btn-about-section{
    align-content: center;
   text-align: center;
   justify-content: center;
   width: max-content;
   border-radius: 1.5rem;
   background-color: var(--btn-color);
   padding: 2rem;
   margin-left: 2rem;
}

.btn-about-section:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: .3s;
}
