@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --primary-color: #f0daf0;
  --secondary-color: #e2bfd9;
  --btn-color: rgb(129, 179, 207);
  --text-color: rgb(17, 12, 12);
  --secondary-text-color: #7c93c3;
  --background-color: rgb(236, 112, 160);
  --black-color: rgb(46, 45, 45);
}
body {
  font-size: 1.5rem;
  font-family: "Rubik", sans-serif;
}
